# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
build/
__pycache__/

# Other files and folders
.settings/
log.md
api_key.py
# Executables
*.swf
*.air
*.ipa
*.apk
*.spec
*.exe
*.dll

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
